body{
    width: 800px;
    margin: 0 auto;
}

.main {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    position: fixed;
    right: 200px;
    bottom: 200px;
    background-color: #fff;
}

.main div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
}

.red {
    background-color: red;
    top: 50px;
    left: 50px;
}

.green {
    background-color: green;
    top: 70px;
    left: 70px;
}

.yellow {
    background-color: yellow;
    top: 100px;
    left: 100px;
}