@import 'reset';
@import 'media';
@import 'header';
@import 'firstBlock';
@import 'secondBlock';

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn {
    display: block;
    cursor: pointer;
    border: none;
}

.btnMobile{
    cursor: pointer;
    border: none;
}