@import 'reset';

@import 'header';
@import 'firstBlock';
@import 'secondBlock';
@import 'thirdBlock';
@import 'footer';


body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn {
    display: block;
    cursor: pointer;
    border: none;
}

.btnMobile{
    cursor: pointer;
    border: none;
}

.footer{
    
    position: relative;
    overflow: hidden;
}



@import 'media';