/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.header {
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
          filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-menu li:not(:last-child) {
  margin-right: 24px;
}

.nav-menu li {
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-menu li a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #6C5CE7;
}

.nav-menu li a:hover {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #2D3436;
  text-align: center;
}

.nav-menu li:after {
  content: '.';
  background-color: #fff;
  color: #FDCB6E;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin-left: 16px;
  position: relative;
  bottom: 5px;
}

.nav-menu li:last-child:after {
  content: none;
}

.sign-in {
  width: 170px;
  height: 64px;
  background-color: #6C5CE7;
  border-radius: 999px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}

.logo-mobile {
  display: none;
}

.text-logo {
  display: none;
}

.firstBlock {
  position: relative;
}

.rectangle {
  position: absolute;
  width: 83%;
  height: 100%;
  left: 20%;
  bottom: 46%;
  background: #FFEAA7;
  border-radius: 99px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -10;
  overflow: hidden;
}

.inner-firstBlock {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstBlockMainText {
  text-align: center;
  margin-top: 175px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 104px;
  letter-spacing: -3px;
  text-shadow: 0px 4px 0px #FFFFFF;
}

.firstBlockMainText span {
  color: #D63031;
}

.firstBlockInnerText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  letter-spacing: -1px;
  color: #2D3436;
  margin-top: 16px;
}

.learn-more {
  background: #6C5CE7;
  border-radius: 999px;
  width: 270px;
  height: 82px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  right: 0;
}

.firstBlockBottomSection span {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2D3436;
  width: 270px;
  height: 102px;
}

.firstBlockBottomSection {
  width: 300px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
}

.bottomItem {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 408px;
  height: 191px;
  background-color: #55EFC4;
  border-radius: 999px;
}

.bottomItem span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  position: absolute;
  left: 8.58%;
  right: 2.45%;
  top: 57px;
  color: #2D3436;
}

.mobile-bg {
  display: none;
  position: absolute;
  z-index: -10;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.firstBlockMain_mobileUpperText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -1px;
  color: #2D3436;
  text-shadow: 0px 4px 0px #FFFFFF;
  display: block;
  margin-top: 120px;
  display: none;
  text-align: center;
}

.firstBlockMain_mobileBottomText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0px #FFFFFF;
  display: none;
  color: #2D3436;
}

.firstBlockMain_mobileBottomText span {
  color: #D63031;
}

.bgItem {
  width: 119px;
  height: 32px;
  position: absolute;
  width: 119px;
  height: 32px;
  left: calc(50% - 119px/2 - 85.5px);
  top: 233px;
  display: none;
  background-color: #55EFC4;
  border-radius: 999px;
  z-index: -8;
}

.arrowButton {
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 999px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 8px;
  display: none;
  cursor: pointer;
}

.arrowButton svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: auto;
}

.btnMobile {
  display: none;
}

.secondBlockMainTextFirstSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #2D3436;
  display: block;
}

.inner-secondBlock {
  padding-top: 80px;
  padding-bottom: 80px;
}

.secondBlockMainTextSecondSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #2D3436;
  margin-top: 15px;
  display: block;
}

.inner-secondBlockSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: 330px;
}

.inner-secondSections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.inner-secondBlockSectionMainSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #2D3436;
  margin-top: 24px;
}

.inner-secondBlockSectionInnerSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2D3436;
  margin-top: 16px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.learn-moreSecondBlock {
  width: 146px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #6C5CE7;
  border: 1px solid #ADADAD !important;
  border-radius: 16px;
  background-color: #fff;
}

.secondBlockMainTextFirstSpan_mobile {
  display: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #2D3436;
}

.secondBlockMainTextFirstSpan_mobile span {
  color: #6C5CE7;
}

.secondBlockMainTextSecondSpan_mobile {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2D3436;
  display: none;
}

.mobile-icon {
  display: none;
}

.inner-secondBlockSectionInnerSpan_mobile {
  display: none;
}

.inner-secondBlockSectionMainSpan_mobile {
  display: none;
}

.inner-thirdBlock {
  width: 100%;
}

.thirdBlockMainText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 74px;
  margin-bottom: 40px;
}

.thirdBlockMainTextFirstSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -1px;
  color: #2D3436;
}

.thirdBlockCardSectionWhite::after {
  content: '';
  display: block;
  position: absolute;
  background-size: cover;
  z-index: -1;
  background: url(../images/Wiggle.svg);
  width: 200px;
  height: 126px;
  bottom: -30px;
  left: -32px;
}

.thirdBlockCardSectionWhite {
  position: relative;
}

.thirdBlockMainTextSecondSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ADADAD;
  margin-top: 34px;
}

.thirdBlockMainTextSecondSpan span {
  color: #6C5CE7;
  position: relative;
}

.thirdBlockMainTextSecondSpan span::after {
  content: '';
  width: 126px;
  height: 12px;
  background-color: #FDCB6E;
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: -1;
  border-radius: 99px;
}

.thirdBlockCardSections {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thirdBlockCardSections_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  display: none;
}

.thirdBlockCardSection {
  width: 370px;
  height: 536px;
  background-color: transparent;
  border-radius: 16px;
}

.inner-thirdBlockCardSection {
  margin-top: 32px;
  margin-left: 32px;
}

.thirdBlockCardSectionWhite {
  background: #fff;
  -webkit-box-shadow: 0px 16px 24px rgba(38, 50, 56, 0.12);
          box-shadow: 0px 16px 24px rgba(38, 50, 56, 0.12);
}

.wiggle {
  position: absolute;
  bottom: -30px;
  left: -30px;
  z-index: -1;
}

.thirdBlockCardSectionMainSpan {
  margin-bottom: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #6C5CE7;
  display: block;
}

.PriceTermBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 24px;
}

.thirdBlockCardSectionPriceSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1px;
  color: #2D3436;
}

.thirdBlockCardSectionTermSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2D3436;
  margin-bottom: 8px;
  margin-left: 8px;
}

.thirdBlockCardSectionListBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.thirdBlockCardSectionListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 16px;
}

.thirdBlockCardSectionListSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2D3436;
  margin-left: 16px;
}

.thirdBlockCardSectionButtonWhite {
  width: 306px;
  height: 64px;
  border: 1px solid #ADADAD;
  border-radius: 16px;
  background-color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #6C5CE7;
  margin-top: 128px;
  cursor: pointer;
}

.thirdBlockCardSectionButtonPurple {
  width: 306px;
  height: 64px;
  border-radius: 16px;
  background-color: #6C5CE7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #fff;
  margin-top: 16px;
  cursor: pointer;
  border: none;
}

.thirdBlockCardSectionSpanBlockBestChoice {
  border: 1px solid #6C5CE7;
  border-radius: 99px;
  width: 90px;
  height: 32px;
  background-color: #fff;
}

.thirdBlockCardSectionSpanBlockBestChoice span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2D3436;
  margin: 8px;
  display: block;
}

.thirdBlockCardSectionSpanBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 306px;
}

.thirdBlockCardSectionButtonWhite_second {
  margin-top: 80px !important;
}

.thirdBlockMainTextFirstSpan_mobile {
  display: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #2D3436;
}

.thirdBlockMainTextSecondSpan_mobile {
  display: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #ADADAD;
  margin-top: 8px;
  margin-bottom: 40px;
}

.thirdBlockMainTextSecondSpan_mobile span {
  color: #2D3436;
  position: relative;
}

.thirdBlockMainTextSecondSpan_mobile span::after {
  content: '';
  width: 71px;
  height: 12px;
  background-color: #FDCB6E;
  display: block;
  position: absolute;
  bottom: -2px;
  left: -3px;
  z-index: -1;
  border-radius: 99px;
}

.thirdBlockCardSection_mobile {
  width: 330px;
  height: 392px;
  background: #FFFFFF;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.thirdBlockCardSection_mobile:not(:last-child) {
  -webkit-filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
          filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.thirdBlockCardSection_mobile:last-child {
  background-color: #6C5CE7;
}

.thirdBlockCardSectionMainSpan_mobile {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #2D3436;
}

.inner-thirdBlockCardSection_mobile {
  margin-top: 24px;
  margin-left: 24px;
}

.thirdBlockCardSectionSpanBlockAdvice {
  width: 90px;
  height: 32px;
  border: 1px solid #858585;
  border-radius: 99px;
}

.thirdBlockCardSectionSpanBlockAdvice span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2D3436;
  margin: 9px;
  display: block;
  text-align: center;
}

.thirdBlockCardSectionBlockSpan_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 282px;
}

.PriceTermBlock_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 24px;
}

.thirdBlockCardSectionPriceSpan_mobile {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #6C5CE7;
  text-shadow: 0px 4px 0px #FFFFFF;
}

.thirdBlockCardSectionTermSpan_mobile {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #6C5CE7;
  text-shadow: 0px 4px 0px #FFFFFF;
  margin-bottom: 8px;
  margin-left: 8px;
}

.thirdBlockCardSectionListBlock_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thirdBlockCardSectionListSpan_mobile {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #2D3436;
  margin-left: 8px;
  margin-top: 2px;
}

.thirdBlockCardSectionListItem_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.thirdBlockCardSectionListItem_mobile:not(:last-child) {
  margin-bottom: 24px;
}

.thirdBlockCardSectionListItem_mobile:last-child {
  margin-bottom: 32px;
}

.thirdBlockCardSectionButtonWhite_mobile {
  width: 282px;
  height: 48px;
  background-color: #6C5CE7;
  border-radius: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.thirdBlockCardSectionPriceSpanPurple_mobile, .thirdBlockCardSectionTermSpanPurple_mobile {
  color: #FFFFFF;
  text-shadow: 0px 4px 0px #000000;
}

.thirdBlockCardSectionMainSpanPurple_mobile {
  color: #55EFC4;
}

.thirdBlockCardSectionSpanBlockAdvicePurple {
  border: 1px solid #55EFC4;
}

.thirdBlockCardSectionSpanBlockAdvicePurple span {
  color: #55EFC4;
}

.thirdBlockCardSectionListSpanPurple_mobile {
  color: #fff;
}

.thirdBlockCardSectionButtonPurple_mobile {
  background: #fff;
  color: #000000;
}

.inner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  height: 526px;
}

.footerSection {
  width: 570px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerSectionMainSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #ADADAD;
}

.footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 40px;
}

.footerIcons a {
  display: block;
  width: 40px;
  height: 40px;
}

.footerList {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 570px;
}

.footerList li a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2D3436;
  width: 170px;
  display: block;
}

.footerList li {
  margin-bottom: 16px;
}

.last-a {
  width: 370px !important;
  display: block;
}

.underline {
  text-decoration: underline;
}

.footerSectionEmailSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #6C5CE7;
  margin-bottom: 48px;
}

.footerForm {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.footerFormTextInput {
  width: 270px;
  height: 48px;
  background: rgba(194, 194, 194, 0.24);
  border-radius: 16px;
  border: none;
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2D3436;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inputText {
  position: relative;
  margin-bottom: 30px;
}

.inputText svg {
  position: absolute;
  left: 230px;
  bottom: 36px;
  pointer-events: none;
}

.inputEmail {
  position: relative;
  margin-bottom: 30px;
}

.inputEmail svg {
  position: absolute;
  left: 230px;
  bottom: 35px;
  pointer-events: none;
}

textarea {
  resize: none;
  width: 370px;
  height: 80px;
  background: rgba(194, 194, 194, 0.24);
  border: 2px solid rgba(108, 92, 231, 0.24);
  border-radius: 16px;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}

textarea::-webkit-input-placeholder {
  color: #6C5CE7;
}

textarea::-moz-placeholder {
  color: #6C5CE7;
}

/* Firefox 19+ */
textarea:-moz-placeholder {
  color: #6C5CE7;
}

/* Firefox 18- */
textarea:-ms-input-placeholder {
  color: #6C5CE7;
}

.textarea {
  position: relative;
}

.textarea svg {
  position: absolute;
  pointer-events: none;
  left: 326px;
  top: 4px;
}

.btnSubmit {
  width: 170px;
  height: 80px;
  background: #6C5CE7;
  -webkit-box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
          box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
  border-radius: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
  border: none;
  cursor: pointer;
}

.waves {
  position: absolute;
  width: 2000px;
  bottom: -580px;
  z-index: -1;
}

.footer_mobile {
  display: none;
}

.inner-footer_mobile {
  height: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inner-footer_mobile span {
  margin-bottom: 8px;
}

.footer_mobileFirstSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #2D3436;
}

.footer_mobileSecondSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #2D3436;
}

.footer_mobileThirdSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #00B894;
}

.footer_mobileFourthSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #00B894;
}

.footer_mobileFifthSpan {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}

.iconSection_mobile {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_mobileBg {
  position: absolute;
  bottom: -40px;
  left: -100px;
  width: 500px;
}

.footer_mobile {
  position: relative;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  cursor: pointer;
  border: none;
}

.btnMobile {
  cursor: pointer;
  border: none;
}

.footer {
  position: relative;
  overflow: hidden;
}

@media (max-width: 1920px) {
  .rectangle {
    bottom: 52%;
  }
}

@media (max-width: 1180px) {
  .wrapper {
    max-width: 940px;
  }
  .nav-menu li {
    margin-right: 8px;
  }
  .nav-menu li:after {
    margin-left: 16px;
  }
  .inner-secondBlockSection {
    width: 220px;
    position: relative;
  }
  .inner-secondBlockSectionMainSpan {
    font-size: 20px;
  }
  .inner-secondBlockSectionInnerSpan {
    font-size: 14px;
  }
  .learn-moreSecondBlock {
    position: absolute;
    bottom: 0;
  }
  .thirdBlockCardSections {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .thirdBlockCardSectionWhite {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .inner-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerSection {
    margin-bottom: 40px;
  }
  .inner-footer {
    height: 700px;
  }
}

@media (max-width: 960px) {
  .wrapper {
    max-width: 744px;
  }
  .nav-menu li:not(:last-child) {
    margin-right: 10px;
  }
  .nav-menu li:after {
    margin-left: 10px;
  }
  .inner-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-menu li a {
    font-size: 16px;
  }
  .logo {
    width: 160px;
  }
  .sign-in {
    font-size: 20px;
    width: 114px;
    height: 43px;
  }
  .inner-secondSections {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .inner-secondBlockSection {
    width: 260px;
    margin-top: 40px;
  }
}

@media (max-width: 760px) {
  .wrapper {
    max-width: 644px;
  }
  .nav-menu li:not(:last-child) {
    margin-right: 15px;
  }
  .nav-menu li:after {
    content: none;
  }
  .inner-header {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-menu li a {
    font-size: 14px;
  }
  .bottomItem {
    width: 272px;
    height: 128px;
  }
  .bottomItem span {
    font-size: 18px;
    top: 20px;
  }
  .firstBlockBottomSection span {
    display: block;
    margin-left: 15px;
    margin-top: 15px;
  }
  .thirdBlockCardSectionWhite {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .inner-thirdBlockCardSection {
    margin-top: 43px;
  }
}

@media (max-width: 660px) {
  .wrapper {
    max-width: 465px;
  }
  .inner-secondBlock {
    width: 100%;
  }
  .inner-header {
    padding: 0;
  }
  .nav-menu {
    display: none;
  }
  .sign-in {
    border-radius: 8px;
  }
  .logo {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  .text-logo {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #2D3436;
  }
  .inner-header a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner-header a span {
    margin-left: 11px;
  }
  .sign-in {
    border-radius: 8px;
    width: 128px;
    height: 40px;
    font-size: 18px;
  }
  .bottomItem {
    display: none;
  }
  .firstBlockBottomSection {
    display: none;
  }
  .inner-firstBlock {
    height: 551px;
  }
  .rectangle {
    display: none;
  }
  .mobile-bg {
    display: block;
  }
  .firstBlockMainText {
    display: none;
  }
  .firstBlockMain_mobileUpperText {
    display: block;
  }
  .firstBlockMain_mobileBottomText {
    display: block;
  }
  .firstBlockInnerText {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
  }
  .bgItem {
    display: block;
  }
  .arrowButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .learn-more {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 130px;
    height: 37px;
    position: relative;
    margin: 0 auto;
    margin-top: 34px;
  }
  .btnMobile {
    display: block;
  }
  .secondBlockMainTextFirstSpan {
    display: none;
  }
  .secondBlockMainTextSecondSpan {
    display: none;
  }
  .inner-secondBlock {
    padding-top: 40px;
  }
  .secondBlockMainTextFirstSpan_mobile {
    display: block;
  }
  .secondBlockMainTextSecondSpan_mobile {
    display: block;
    margin-top: 8px;
  }
  .inner-secondBlockSection {
    width: 35%;
    height: 273px;
  }
  .inner-secondBlockSectionMainSpan_mobile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #2D3436;
    margin-top: 17.5px;
    display: block;
  }
  .inner-secondBlockSectionInnerSpan_mobile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 24px;
    color: #5C5C5C;
    margin-top: 12px;
    margin-bottom: 7.5px;
    display: block;
  }
  .inner-secondBlockSectionMainSpan {
    display: none;
  }
  .inner-secondBlockSectionInnerSpan {
    display: none;
  }
  .learn-moreSecondBlock {
    width: 109.5px;
    height: 36px;
    font-size: 13.5px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
  .learn-moreSecondBlock {
    position: static;
  }
  .desktop-icon {
    display: none;
  }
  .mobile-icon {
    display: block;
  }
  .thirdBlockMainTextFirstSpan {
    display: none;
  }
  .thirdBlockMainTextSecondSpan {
    display: none;
  }
  .thirdBlockMainTextFirstSpan_mobile {
    display: block;
  }
  .thirdBlockMainTextSecondSpan_mobile {
    display: block;
  }
  .thirdBlockCardSections {
    display: none;
  }
  .thirdBlockCardSections_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_mobile {
    display: block;
  }
  .footer {
    display: none;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 330px;
  }
  .inner-secondBlockSection {
    width: 150px;
  }
  .footer_mobileBg {
    bottom: -60px;
    left: -150px;
  }
}
/*# sourceMappingURL=style.css.map */