body {
    background-color: #EDF1F3;
}

.wrapper {
    width: 1440px;
    height: 1287px;
    background-color: #EDF1F3;
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.wrapper a {
    text-decoration: none;
}

.header {
    width: 1280px;
    height: 264px;
    margin-left: 80px;

    text-transform: uppercase;
}

.navbar {
    width: 1280px;
    height: 64px;
    background-color: #fff;
}

.main-img {
    width: 1280px;
    height: 200px;
    background-image: url(../images/main-img.jpg);
}

.logo {
    margin-left: 72px;
    margin-top: 16px;
    float: left;
}

.header ul {
    /* margin-left: 120px; */
    float: right;
    margin-right: 155px;
}

.header li {
    display: inline-block;
    height: 56px;
    width: 120px;
    margin-top: 8px;
}

.header a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);
    margin-top: 16px;
    display: block;
    width: 104px;
    height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;



}

.header a:focus:not(.button a){
    color: #0066CC;
    border-bottom: 2px solid #006BE8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.button {
    width: 94px;
    height: 46px;
    border: 2px solid #0066CC;
    border-radius: 2px;
    float: right;
    margin-right: 72px;
    margin-top: 8px;
}

.button a {
    font-size: 14px;
    color: #0066CC;
    text-align: center;
    width: 94px;
    height: 46px;
    font-style: normal;
    letter-spacing: 0.04em;
}

.main-img div {
    color: #fff;
    /* padding-top: 48px; */
}

.headerTextTop {
    font-size: 54px;
    text-align: center;
    /* line-height: 56px; */
    font-weight: 600;
    height: 56px;
    width: 1134px;
    padding-top: 48px;
    margin-left: 73px;
    letter-spacing: 0.6vw;
}

.headerTextBottom {
    height: 24px;
    width: 1134px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 24px;
    margin-left: 73px;
    text-align: center;
    letter-spacing: 0.5vw;
}

.breadcrumbs {
    width: 1280px;
    height: 56px;
    background-color: #fff;
    margin-left: 80px;
    /* display: inline-block; */
    position: relative;
    display: flex;
    flex-direction: row;
}

.home {
    width: 16px;
    height: 16px;
    margin-left: 72px;
    padding-top: 20px;
    display: block;
    float: left;
    order: 1;
}

.arrowFirst {
    background-image: url(../images/arrow.png);
    width: 8px;
    height: 16px;
    float: left;
    margin-top: 20px;
    margin-left: 32px;
    order: 2;
}

.arrowSecond {
    background-image: url(../images/arrow.png);
    width: 8px;
    height: 16px;
    float: left;
    margin-top: 20px;
    margin-left: 32px;
    order: 4;
}

.breadcrumbFirst {
    width: 136px;
    height: 24px;
    text-decoration: none;
    color: #000;
    margin-top: 16px;
    margin-left: 16px;
    display: block;
    float: left;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    order: 3;
}

.breadcrumbSecond {
    width: 136px;
    height: 24px;
    text-decoration: none;
    color: #000;
    margin-top: 16px;
    margin-left: 16px;
    display: block;
    float: left;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    order: 5;
}

.deviderFirst {
    width: 1280px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.06);
    overflow: auto;
    position: absolute;
    bottom: 0;
}

.breadcrumbFirst:focus {
    color: #0066CC;
}

.breadcrumbFirst:focus ~ .arrowFirst {
    background-image: url(../images/arrow-focus.png);
}

.breadcrumbSecond:focus {
    color: #0066CC;
}

.breadcrumbSecond:focus ~ .arrowSecond {
    background-image: url(../images/arrow-focus.png);
}

.breadcrumbSecond:focus ~ .breadcrumbFirst{
    color: #0066CC;
}

.breadcrumbSecond:focus ~ .arrowFirst{
    background-image: url(../images/arrow-focus.png);
}

.container {
    width: 1280px;
    height: 528px;
    background-color: #fafafa;
    margin-left: 80px;
}

.container div {
    width: 368px;
    height: 400px;
    background-color: #fff;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 64px;
}

.contentLeft {
    margin-left: 72px;
}

.contentMiddle {
    margin-left: 16px;
}

.contentBottom {
    margin-left: 16px;
}

.deviderSecond {
    width: 1280px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.04);
    margin-left: 80px;
}

.footer {
    width: 1280px;
    height: 256px;
    background-image: url(../images/footer.png);
    background-color: #F1F1F1;
    margin-left: 80px;
    display: inline-block;
    position: relative;
}

/* .footer div:not(.bottomSide) {
    width: 272px;
    height: 136px;
    background-color: none;
    float: left;
    margin-top: 40px;
} */

.footerSectionFirst {
    margin-left: 72px;
    width: 272px;
    height: 136px;
    background-color: none;
    float: left;
    margin-top: 40px;
}

.footerSectionSecond {
    margin-left: 16px;
    width: 272px;
    height: 136px;
    background-color: none;
    float: left;
    margin-top: 40px;
}

.footerSectionThird {
    margin-left: 16px;
    width: 272px;
    height: 136px;
    background-color: none;
    float: left;
    margin-top: 40px;
}

.footerSectionForth {
    margin-left: 16px;
    width: 272px;
    height: 136px;
    background-color: none;
    float: left;
    margin-top: 40px;
}

.bottomSide {
    width: 1280px;
    height: 48px;
    background-color: #fbfbfb;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.footerTopText {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.footerBottomText {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.64);
    padding-bottom: 16px;
    display: block;
}

.footerBottomText:hover {
    color: #1C67C0;
}

.footerBottomText:focus {
    color: #1C67C0;
}

.mainUnderline {
    background: rgba(0, 0, 0, 0.08);
    height: 2px;
    width: 272px;
    margin-top: 15px;
    margin-bottom: 23px;
}

.innerUnderline {
    width: 80px;
    height: 2px;
    background-color: #006be8;
}

.textSectionForth {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.64);
    text-align: left;
    line-height: 20px;
}

.copyright {
    font-size: 12px;
    width: 224px;
    height: 16px;
    color: rgba(0, 0, 0, 0.48);
    text-align: center;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-left: 528px;
    margin-top: 16px;
    padding-top: 2px;
}

.facebook {
    position: absolute;
    left: 89.38%;
    right: 9.38%;
    top: 33.33%;
    bottom: 33.33%;
}

.twitter {
    position: absolute;
    left: 91.25%;
    right: 7.5%;
    top: 33.33%;
    bottom: 33.33%;
}

.instagram {
    position: absolute;
    left: 93.12%;
    right: 5.62%;
    top: 33.33%;
    bottom: 33.33%;
}